@model Harvest.Web.Models.UserPermissionsListModel

@{
    ViewData["Title"] = "Role Assigned Users ";
}

<div class="card">
    <div class="card-header-primary">
        <div class="card-head row justify-content-between">
            <h2>Users with roles</h2>
            <a class="btn btn-link" asp-action="Create"><i class="fas fa-plus fa-xs"/></i> Add new User/Role.</a>
        </div>
    </div>
    <div class="card-content">
        <table  id="permissions" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.UserRoles) {
                <tr>
                    <td>
                        @item.User.Name
                    </td>
                    <td>@Html.DisplayFor(a => item.User.Email)</td>
                    <td>
                        @item.RolesList
                    </td>
                    <td>
                        @Html.ActionLink("Remove Role(s)", "Delete", new { id = item.User.Id})
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Styles
{
  @{ await Html.RenderPartialAsync("_ReportStylesPartial");}
}

@section Scripts
{
  @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}

  <script type="text/javascript">
    var table = $('#permissions').DataTable({
      responsive: true,
      columnDefs: [
        { responsivePriority: 1, targets: 0 },
        { responsivePriority: 2, targets: 1 },
        { responsivePriority: 3, targets: 2 },
        { responsivePriority: 4, targets: 3 }
      ]
    });
  </script>
}