
<mjml>
    <mj-body background-color="#cce0d1">
        <mj-section background-color="#266041">
            <mj-column width="100%">
                <mj-text align="left" color='#FFF'>
                    <h1>Harvest</h1>
                    <p>Planting tomorrow's crops today</p>
                </mj-text>
            </mj-column>
        </mj-section>
        
        @RenderBody()

        <mj-section background-color="#266041" padding-bottom="5px" padding-top="0">
            <mj-column width="100%">
                <mj-divider border-color="#ffffff" border-width="2px" border-style="solid" padding-left="20px" padding-right="20px" padding-bottom="0px" padding-top="0"></mj-divider>
                <mj-text align="center" color="#FFF" font-size="15px" font-family="Helvetica" padding-left="25px" padding-right="25px" padding-bottom="20px" padding-top="20px">
                    This is a footer
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
