
@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-between mb-3">
    <div class="col">
        <h1>Crops</h1>
    </div>
    <div class="col text-right">
        <a class="btn btn-sm btn-primary" asp-action="Create">Create New <i class="fas fa-plus fa-xs"></i></a>
    </div>
</div>