@model Harvest.Core.Domain.Crop

@{
    ViewData["Title"] = "Edit";
}

<div class="card-wrapper col-md-6">
    <div class="card-content">
        <h2>Edit Crop Lookup</h2>
        <form asp-action="Edit">
            @await Html.PartialAsync("_CropForm")
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}