@{
    ViewBag.Title = "Help";
}

<h1>Question about your project or billing?</h1>

<h4>Please open your project and submit a ticket from there</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-controller="Project" asp-action="Mine" class="btn btn-primary">Open My Projects</a>
    </div>
</div>
<br/><br/><br/>

<h1>Have a technical support question?</h1>

<h4>Please submit a help ticket here:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a href="https://caeshelp.ucdavis.edu/?appname=Harvest" class="btn btn-primary" target="_blank" ref="noopener noreferrer">Help Ticket</a>
    </div>
</div>
