@{
    ViewBag.Title = "Help";
}
<div class="row justify-content-around">
    <div class="card-wrapper no-green col-md-5">
        <div class="card-content">
            <h2>Question about your project or billing?</h2>
            <h4>Please open your project and submit a ticket from there</h4>
             <br>
            <a href="/project/mine" class="btn mt-auto btn-sm btn-primary">Open My Projects</a>
        </div>
    </div>
    <div class="card-wrapper no-green col-md-5">
        <div class="card-content">
            <h2>Have a technical support question?</h2>
            <h4>Please submit a help ticket here:</h4> <br>
                <a href="https://caeshelp.ucdavis.edu/?appname=Harvest" class="btn mt-auto btn-sm btn-primary" target="_blank" ref="noopener noreferrer">Help Ticket</a>
        </div>
    </div>
</div>




