@using Harvest.Email.Views.Shared
@model Harvest.Email.Models.Ticket.TicketReplyModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml_new";
}

<mj-section border-top="4px solid #266041" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="28px" color="#1F1F1F">
            <p>Ticket Closed</p>
        </mj-text>
        <mj-text padding-top="0px" padding-bottom="0px" font-size="24px" color="rgba(31,31,31,0.8)">
            @@Model.From
        </mj-text>
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#EBF1EE" border-top="1px solid #DEEEFF" border-bottom="1px solid #DEEEFF" padding-bottom="0px" padding-top="0px">
    <mj-column width="50%" vertical-align="top">
        <mj-text align="center" font-size="18px" line-height="1.5" color="#000000" padding-right="25px" padding-bottom="0px" padding-top="0">

        </mj-text>
        <mj-button background-color="#266041" color="#FFFFFF" font-size="15px" align="center" vertical-align="middle" border="none" padding="15px 30px" border-radius="3px" href="@@Model.ButtonUrlForTicket" padding-left="25px" padding-right="25px" padding-bottom="10px">@@Model.ButtonTicketText</mj-button>
    </mj-column>
    <mj-column width="50%" vertical-align="top">
        <mj-text align="center" font-size="18px" line-height="1.5" color="#000000" padding-right="25px" padding-bottom="0px" padding-top="0">

        </mj-text>
        <mj-button background-color="#266041" color="#FFFFFF" font-size="15px" align="center" vertical-align="middle" border="none" padding="15px 30px" border-radius="3px" href="@@Model.ButtonUrlForProject" padding-left="25px" padding-right="25px" padding-bottom="10px">@@Model.ButtonProjectText</mj-button>
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="10px" padding-top="5px">
    <mj-column width="90%" vertical-align="top" border-bottom="1px solid #c7c8cc">
        <mj-text padding-top="20px" padding-left="0px" padding-bottom="0px">
            <h4>Notification Details</h4>
        </mj-text>
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>@@Model.ProjectName</h2>
        </mj-text>
    </mj-column>
    <mj-column width="90%" vertical-align="top" border-left="4px solid #266041" padding-left="10px">
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Subject", "@Model.Subject"))
    </mj-column>
</mj-section>

