.btn {
  font-family: $sans-bold;
  font-size: 1.2rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-sm {
  font-size: 0.9rem;
}
.btn:focus,
.btn.focus {
  box-shadow: none;
}
.btn-link {
  color: $primary-color;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  box-shadow: none;
  &:hover {
    color: darken($primary-color, 3);
  }
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 1rem 1.5rem;
}

.page-item.active .page-link {
  background-color: transparentize($primary-color, 0.3);
  border-color: transparentize($primary-color, 0.3);
}
.page-link {
  color: $primary-color;
}
.svg-inline--fa {
  padding-left: 4px;
}
.primary-color {
  color: $primary-color;
}
.primary-font {
  color: $primary-font;
}
.bold-font {
  font-family: $sans-bold;
}
//modal

.modal-header {
  background-color: $primary-light;
}
.leaflet-popup-content {
  p {
    margin: 0;
  }
}

// tables

.harvest-table {
  th {
    background-color: $primary-light;
    color: $secondary-font;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  .progress-bar {
    background-color: $primary-color;
  }
  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 3);
    }
  }
  td {
    padding: 0.5rem;
    vertical-align: middle;
  }
  tr {
    background-color: #fff !important;
  }
}
$nchild-wide: 24%;
.activity-table {
  th {
    color: $primary-font;
    font-family: $sans-bold;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-top: 0;
    &:nth-child(2) {
      text-align: right;
      width: $nchild-wide;
    }
    &:nth-child(3) {
      text-align: right;
      width: $nchild-wide;
    }
    &:nth-child(4) {
      text-align: right;
      width: $nchild-wide;
    }
  }
  td {
    border-top: 0;
    &:nth-child(2) {
      text-align: right;
      width: $nchild-wide;
    }
    &:nth-child(3) {
      text-align: right;
      width: $nchild-wide;
    }
    &:nth-child(4) {
      text-align: right;
      width: $nchild-wide;
    }
  }
}
