@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import '@ucdavis/gunrockin/sass/gunrockin.scss';
$primary-color:    $gunrock;
$secondary-color:  $quad;
$theme-colors: (
 primary: $primary-color,
 secondary: $secondary-color
);
@import "bootstrap/scss/bootstrap";
@import '@ucdavis/gunrockin/sass/_typography.scss';

$bg-primary: #F3F4F7;
$bg-secondary: #F7FAFC;

$borders-secondary: #E5EAEF;
