.loading-expander {
  padding: 1.2rem 0;
}
.form-group {
  margin-bottom: 0.5rem;
  .form-control {
    height: 36px;
  }
}
table.table {
  font-size: 0.9rem;
  margin-bottom: 0px;
  tr {
    th {
      font-size: 12px;
      padding: 2px;
      @include breakpoint(lg) {
        font-size: 14px;
        padding: 4px;
      }
    }
    td {
      vertical-align: middle;
      font-size: 12px;
      padding: 2px;
      @include breakpoint(lg) {
        font-size: 14px;
        padding: 4px;
      }
    }
  }
  input {
    font-size: 0.8rem;
  }
  thead {
    background-color: $bg-secondary;
    th {
      border-bottom: 1px solid $borders-secondary;
    }
  }
  tr {
    &.expense-associated {
      background-color: transparentize($quad, 0.85);
    }
  }
  .percent-td {
    height: 20px;
  }
}
// Totals table
table.totals-table {
  tr {
    border-top: none;
    th {
      border-top: none;
      &:nth-child(2) {
        text-align: right;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
    td {
      border-top: none;
      &:nth-child(2) {
        text-align: right;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}
// Expense table
table.expense-table {
  tr {
    th {
      &:nth-child(5) {
        text-align: right;
      }
      &:nth-child(6) {
        text-align: right;
      }
    }
    td {
      &:nth-child(5) {
        text-align: right;
      }
      &:nth-child(6) {
        text-align: right;
      }
    }
  }
  td {
    &:nth-child(4) {
      word-break: break-all;
    }
  }
}

// Active table
table.active-table {
  th {
    border-top: none;
    &:first-child {
      width: 5%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 38%;
    }
  }
  td {
    background-color: transparentize($sunflower, 0.91);
  }
  tbody tr:last-child {
    border-bottom: 5px solid $sunflower;
  }
  margin-bottom: 0px;
}

//Projects table
table.projects-table {
  tbody {
    td {
      &:first-child {
        width: 5%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 38%;
      }
    }
  }
}
// Summary Table
table.summary-table {
  tr {
    th {
      &:nth-child(3) {
        text-align: right;
      }
    }
    td {
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
  tbody {
    tr.Heading {
      background-color: transparentize($sunflower, 0.9);
    }
    tr.GroupSum {
      background-color: transparentize($quad, 0.85);
    }
  }
}
// Navigation
nav {
  li.nav-item a {
    font-size: 1.1rem;
  }
}
// Buttons
.btn {
  font-family: $sans-bold;
}
.btn-assigners {
  width: 100px;
}

// Misc
.form-shadow,
.form-shadow-right input {
  box-shadow: $box-shadow;
}

// Project info {
.projectinfo {
  p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
}

// Navigation
nav {
  a.active {
    border-bottom: $sunflower 2px solid;
  }
}

// loading section
.loading-card {
  img {
    width: 25%;
  }
}
