// home

.quick-actions-wrapper {
  a {
    display: flex;
    justify-content: space-between;
  }
}

// quote info area
.quote-info {
  margin-bottom: 8px;
  padding-bottom: 8px;
  p.lede {
    margin-bottom: 0;
  }
  .quote-info-box {
    border: 1px solid $borders;
    padding: 24px;
  }
}
.card-project-totals {
  .card-header {
    font-weight: bold;
    border-bottom: 1px solid $borders;
    font-size: 1.1rem;
    background-color: #fff;
  }
  .card-body {
    padding: 0.8rem 0.8rem 0 0.8rem !important;
  }
}
.total-row {
  // background-color: transparentize($primary-color, 0.75);
  padding: 12px 0 8px 0;
  border-top: 3px solid $borders;
  margin: 12px -13px 0 -13px;
  h6,
  span {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0;
  }
}
.rbt-token {
  color: $primary-color;
  background-color: transparentize($primary-color, 0.85);
}
.form-group {
  margin-bottom: 1.5rem;
}
.navbar {
  .nav-item {
    .nav-link {
      font-size: 1.2rem;
      color: $primary-font;
      padding: 0.75rem;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

// quote page
.activity-line {
  margin-top: 2%;
  margin-bottom: 2%;
}
.activity-line-item {
  .form-group {
    margin-bottom: 8px;
  }
  .btn {
    margin-top: 8px;
  }
}
.adjust-chooser {
  display: inline-block;
}
.map-wrapper {
  border-top: 1px solid $borders;
}
//approval

.approval-row-title {
  .col {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}
.approval-row {
  margin: 16px 0;
}

//project details

.attached-files-list {
  svg {
    margin-right: 8px;
  }
}
.project-detail-tables {
  // border-top: 1px solid $borders;
  border-bottom: 1px solid $borders;
  padding: 2% 0 3% 0;
}

.project-header {
  border-bottom: 1px solid $borders;
}

.leaflet-popup-content {
  width: 250px !important;
}
.trash-col {
  .btn {
    padding: 0;
  }
}

// #logoutForm {
//   display: inline-block;
// }
