@model Harvest.Web.Models.RateModels.RateEditModel

<div class="form-group">
    <label asp-for="Rate.Description" class="control-label"></label>
    <input asp-for="Rate.Description" class="form-control" />
    <span asp-validation-for="Rate.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.Type" class="control-label"></label>
    <select asp-for="Rate.Type" class="form-control" asp-items="@(new SelectList(Model.TypeList))"></select>
    <span asp-validation-for="Rate.Type" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.IsPassthrough" class="control-label"></label>
    <input asp-for="Rate.IsPassthrough" class="form-control" />
    <span asp-validation-for="Rate.IsPassthrough" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.Unit" class="control-label"></label>
    <input asp-for="Rate.Unit" class="form-control" />
    <span asp-validation-for="Rate.Unit" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.BillingUnit" class="control-label"></label>
    <input asp-for="Rate.BillingUnit" class="form-control" />
    <span asp-validation-for="Rate.BillingUnit" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.Account" class="control-label"></label><span title="Account format: chart-account-{subaccount}-expenseObjectCode"> <i class="fas fa-question-circle fa-xs" ></i></span>
    <div class="input-group">
        <input asp-for="Rate.Account" class="form-control" placeholder="x-xxxxxxx-xxxxx-xxxx"/>
        <div class="input-group-append">
            <button id="ccoa-picker" class="btn btn-primary" type="button">CCOA Picker</button>
        </div>
    </div>
    <span asp-validation-for="Rate.Account" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Rate.Price" class="control-label"></label>
    <input asp-for="Rate.Price" class="form-control" />
    <span asp-validation-for="Rate.Price" class="text-danger"></span>
</div>