@model Harvest.Web.Models.RateModels.RateEditModel

@{
    ViewData["Title"] = "Create";
}
<div class="card-wrapper col-md-8">
    <div class="card-content">
        <h2>Create Rate for Team: @Model.TeamName</h2>
             <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_RateForm", Model)

            <div class="form-group row justify-content-between">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-sm btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>

    



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    @{
        <script src="https://finjector.ucdavis.edu/finjector.js?v=3" type="text/javascript" asp-add-nonce="true"></script>
         <script type="text/javascript" asp-add-nonce="true">
                        $("#ccoa-picker").on("click",
                            async function () {
                                const chart = await window.Finjector.findChartSegmentString("https://finjector.ucdavis.edu/landing");
                                if (chart && chart.status === "success") {
                                    $("#Rate_Account").val(chart.data);
                                }
                                else {
                                    alert("Something went wrong with the CCOA picker")
                                }
                                return false;
                            });
    </script>
    }


}
@section Styles
{
    @{ await Html.RenderPartialAsync("_FaStylesPartial");}
}

