@model Harvest.Web.Models.RateModels.RateEditModel

@{
    ViewData["Title"] = "Create";
}
<div class="card-wrapper col-md-6">
    <div class="card-content">
        <h2>Create Rate</h2>
             <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_RateForm", Model)

            <div class="form-group row justify-content-between">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-sm btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles
{
    @{ await Html.RenderPartialAsync("_FaStylesPartial");}
}
