@using Harvest.Core.Extensions
@model Harvest.Web.Models.RateModels.RateDetailsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rate</h4>
    <hr />
    @await Html.PartialAsync("_RateDetails", Model)
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-link btn-sm" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
