@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
<div class="card-wrapper">
    <div class="card-content">
        <button class="btn btn-primary">
            Lorem
        </button>
        <button class="btn btn-primary">
            Lorem
        </button>
        <button class="btn btn-primary">
            Lorem
        </button>
    </div>
</div>
    </div>
    <div class="col">
        img here
    </div>
</div>

