@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-primary">
    If we're going to have animals around we all have to be concerned about them and take care of them.
</div>
<div class="alert alert-secondary">
    That is to say, anything you practice you can do. 
</div>
<div class="row mt-3">
    <div class="col">
        <h1>Welcome to Harvest, Robert Ross</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <hr>
        <h5>Quick Actions</h5>
<ul class="list-group quick-actions">
  <li class="list-group-item"><a href="#">Cras justo odio</a></li>
  <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
  <li class="list-group-item"><a href="#">Morbi leo risus</a></li>
  <li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
  <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
</ul>
        
    </div>
    <div class="col text-center">
        
        <img class="img-fluid" src="/media/studentfarmer.svg" alt="">
    </div>
</div>

