@model Expense[]

@{
    // TODO: replace eventually with better model or pass via temp data or something.  though this does work fine
    var projectId = @Context.Request.Query["projectId"];
}

<table id="expenses" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>@expense.Description</td>
                <td>@expense.Total</td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="TempInvoice" asp-action="Create" asp-route-projectid="@projectId" method="post">
    <button type="submit">Create Manual Invoice</button>
</form>

@section Styles
{
  @{ await Html.RenderPartialAsync("_ReportStylesPartial");}
}

@section Scripts
{
  @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}

  <script type="text/javascript">
    var table = $('#projects').DataTable({
      responsive: true
    });
  </script>
}