@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model int
@{

    ViewData["Title"] = "An Error has occurred";

    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Harvest</title>

    <react-styles />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    @* Optionally can be done by including node_modules/leaflet-draw/dist/leaflet.draw.css in module *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <style type="text/css">
        .err-container {
            background-image: url('@Url.Content("~/error.png")');
            height: 960px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>

</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="container">
                @if (Configuration["Environment:ShowTestBanner"] == "Yes")



                {
                    <h1 style="background-color: red; text-align: center; color: white">----------- Beta Testing. Data will
                        not be retained. -----------</h1>

                }
                <div class="row justify-content-between align-items-end">
                    <div class="col-sm-8 col-md-5 col-xl-4">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <h1>Harvest</h1>
                            
                        </a>
                    </div>
                    <div class="text-right col-sm-4">
                        <a target="_blank" href="https://ucdavis.edu">
                            <img class="img-fluid" src="/media/ucdavis_white_logo.svg" alt="UC Davis Logo"></a>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" class="main-content-wrapper container">
            <h2>Error</h2>

            @{



                var statusCode = Model;
                var statusmessage = "";

                switch (statusCode)
                {

                    case 400:

                        statusmessage = "Bad request";

                        break;



                    case 403:

                        statusmessage = "Access Denied";

                        break;

                    case 404:

                        statusmessage = "Page not found";

                        break;

                    default:

                        statusmessage = "Something went wrong";

                        break;
                }
                <h1>@statusmessage</h1>

                <div class="err-container">

                </div>
            }
        </main>
    </div>


    <footer class="container footer">
        <p>Copyright &copy; 2021 - <span id="copyright-year"></span> The Regents of the University of California, Davis campus.
            All rights reserved.</p>
    </footer>



    <react-scripts />

    <script type="text/javascript">
        //On page Load check if cookies are disabled
        window.onload = function () {
            if (navigator.cookieEnabled === false) {
                alert("Cookies are disabled in your browser. Please enable cookies to use Harvest.");
            }
        }; 
    </script>

    <script type="text/javascript">
        //Set copyright year
        document.getElementById("copyright-year").innerHTML = new Date().getFullYear();
    </script>
</body>

</html>
