@using Harvest.Email.Views.Shared
@model Harvest.Email.Models.TestEmailModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml";
}


<mj-section>
    <mj-column>
        <mj-text align="center">
            <div>This is just a test</div>
        </mj-text>
    </mj-column>
</mj-section>
<mj-section>
    <mj-column>
        <mj-text align="center">
            <h1>Hello REPLACE1</h1>
            <br />
            @foreach (var item in Model.MyList)
            {
                @Html.Raw(@item)
            }
        </mj-text>
    </mj-column>
</mj-section>



@await Html.PartialAsync("EmailButton", new EmailButtonModel("Click Me", Model.ButtonUrl))